<!DOCTYPE html>
<html>
    <head>
        <Title>RenoVision</Title>

    </head>

    <body>

        </div>

        <!--Display services (Basement)-->
        <a href="#">
        <div class="basement">

        </div>
        </a>

        <!--Display services (Kitchen)-->
        <a href="#">
        <div class="kitchen">

        </div>
        </a>

        <!--Display services (Toilets)-->
        <a href="#">
        <div class="toilets">

        </div>
        </a>

        <!--Display services (TV)-->
        <a href="#">
        <div class="TV">

        </div>
        </a>

        <!--Display services (Salon)-->
        <a href="#">
        <div class="Salon">

        </div>
        </a>

        <!--Display services (outdoor)-->
        <a href="#">
        <div class="outdoor">

        </div>
        </a>

    </body>
</html>