{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <Title>RenoVision</Title>
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

    </head>

    <body>
        {% include "../partials/header.html" %}

        <div class="intro">
            <img src="{% static 'resources/h-bg.jpg' %}" class="intro-bg" >
            <h1>RenoVision</h1>
        </div>

        <!--Display services (Basement)-->
        <a href="{%url 'web:basement' %}">
        <div class="intro">
            <img src="{% static 'resources/basement.jpg' %}" class="intro-bg">
            <h1>Basement Renovations</h1>
        </div>
        </a>

        <!--Display services (Kitchen)-->
        <a href="{% url 'web:kitchen' %}">
        <div class="intro">
            <img src="{% static 'resources/kitchen.jpg' %}" class="intro-bg">
            <h1>Kitchen Renovations</h1>
        </div>
        </a>

        <!--Display services (Bathroom)-->
        <a href="{% url 'web:bathroom' %}">
        <div class="intro">
            <img src="{% static 'resources/toilet.jpg' %}" class="intro-bg">
            <h1>Bathroom Renovations</h1>
        </div>
        </a>

        <!--Display services (TV)-->
       <a href="{% url 'web:tv' %}">
        <div class="intro">
            <img src="{% static 'resources/tv.jpg' %}" class="intro-bg">
            <h1>TV Feature Wall</h1>
        </div>
        </a>

        <!--Display services (Interlock)-->
        <a href="#">
        <div class="intro">
            <img src="{% static 'resources/interlock.jpg' %}" class="intro-bg">
            <h1>Interlock</h1>
        </div>
        </a>

        {% include "../partials/footer.html" %}
    </body>

</html>